---
---
<nav id="hk-nav">
  <a class="nav-logo" href="/">
    <img src="/assets/logo-white.png" alt="HORS KADR" height="34" />
  </a>

  <ul class="nav-links">
    <li><a href="#vision">Vision</a></li>
    <li><a href="#verticales">Verticales</a></li>
    <li><a href="#valeurs">Valeurs</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>

  <a class="nav-cta" href="#contact">Rejoindre</a>
</nav>

